In [2]:
import pandas as pd
import numpy as np
import seaborn as sb

In [6]:
FILE = "test300.csv"
data = pd.read_csv(FILE, delimiter=" ", header=None)
data.columns = ["World", "Success", "Collided", "Timeout", "Duration", "Metrics"]
data

      World  Success  Collided  Timeout  Duration  Metrics
0         0        1         0        0    12.084     0.25
1         1        1         0        0    11.961     0.25
2         2        1         0        0    11.899     0.25
3         3        1         0        0    11.874     0.25
4         4        1         0        0    12.291     0.25
...     ...      ...       ...      ...       ...      ...
1195    295        1         0        0    12.400     0.25
1196    296        1         0        0    12.269     0.25
1197    297        1         0        0    12.508     0.25
1198    298        1         0        0    13.003     0.25
1199    299        1         0        0    13.083     0.25

[1200 rows x 6 columns]

In [24]:
print(data["Metrics"].describe())
print("Number of maximum success", data[data["Metrics"] == 0.25]["Metrics"].count(),"/ 1200")
print("Number of Collision", data[data["Collided"] == 1]["Collided"].count(), "/ 1200")

count    1200.000000
mean        0.240556
std         0.046723
min         0.000000
25%         0.250000
50%         0.250000
75%         0.250000
max         0.250000
Name: Metrics, dtype: float64
Number of maximum success 1146 / 1200
Number of Collision 43 / 1200

In [16]:
data_non_max = data[(data["Metrics"]!= 0.25) & (data["Collided"] != 1)]
print("Number of non-collided, non-max: ", data_non_max["World"].count())
data_non_max

Number of non-collided, non-max:  11

      World  Success  Collided  Timeout  Duration  Metrics
275     275        1         0        0    33.573   0.1599
277     277        1         0        0    27.783   0.2003
405     105        1         0        0    27.442   0.2051
406     106        1         0        0    30.581   0.1881
542     242        1         0        0    29.340   0.1899
575     275        1         0        0    29.194   0.1839
577     277        1         0        0    25.146   0.2213
584     284        1         0        0    25.491   0.2231
875     275        1         0        0    26.997   0.1989
1175    275        1         0        0    33.804   0.1588
1177    277        1         0        0    23.425   0.2376

In [26]:
data_collided = data[(data["Collided"] == 1)]
data_collided

      World  Success  Collided  Timeout  Duration  Metrics
48       48        0         1        0     6.438      0.0
58       58        0         1        0     9.489      0.0
163     163        0         1        0     6.998      0.0
176     176        0         1        0    10.169      0.0
242     242        0         1        0    20.460      0.0
254     254        0         1        0     7.889      0.0
259     259        0         1        0     6.043      0.0
278     278        0         1        0     7.435      0.0
282     282        0         1        0     7.460      0.0
358      58        0         1        0     7.065      0.0
385      85        0         1        0     6.962      0.0
438     138        0         1        0     5.628      0.0
463     163        0         1        0     8.825      0.0
476     176        0         1        0     6.380      0.0
514     214        0         1        0     5.176      0.0
541     241        0         1        0     7.139      0.0
554     254        0         1        0     4.775      0.0
559     259        0         1        0    12.268      0.0
578     278        0         1        0     7.431      0.0
582     282        0         1        0     7.184      0.0
658      58        0         1        0     9.337      0.0
685      85        0         1        0    14.467      0.0
714     114        0         1        0     6.588      0.0
763     163        0         1        0     6.825      0.0
776     176        0         1        0    12.884      0.0
841     241        0         1        0     9.852      0.0
842     242        0         1        0    19.620      0.0
854     254        0         1        0    20.822      0.0
859     259        0         1        0    48.244      0.0
877     277        0         1        0    10.806      0.0
882     282        0         1        0     7.697      0.0
884     284        0         1        0    27.888      0.0
899     299        0         1        0     8.745      0.0
958      58        0         1        0     9.476      0.0
985      85        0         1        0     8.794      0.0
1063    163        0         1        0     9.681      0.0
1076    176        0         1        0     8.789      0.0
1114    214        0         1        0     5.716      0.0
1142    242        0         1        0    17.855      0.0
1154    254        0         1        0    21.349      0.0
1159    259        0         1        0    11.794      0.0
1178    278        0         1        0     7.459      0.0
1182    282        0         1        0     7.150      0.0